#!/bin/env bash

# list all information for directories
alias ls="ls -l --color=auto"
alias la="ls -la --color=auto"

# clipboard copy-pasting
alias clipcopy="xclip -selection clipboard"
alias clippaste="xclip -o -selection clipboard"

# everything directory related
alias ..="cd .."
alias mv="mv -i"
alias mkdir="mkdir -p"

# get better disk usage report
alias df="df -h"

# update and upgrade and autoremove packages
alias refresh="sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y"

# enable aliases to be sudo'd
alias sudo="sudo "
alias pls="sudo !!"

# clear terminal screen
alias c="clear"

# get week number
alias week="date +%V"

# VPN Connections
# Hack the Box Academy
alias htbacademy="sudo openvpn Vpns/academy-regular.ovpn"

# python commands versioning
alias python="python3"
alias pip="pip3"

# git shorthands
alias gs="git status"
alias ga="git add"
alias gaa="git add --all"
alias gc="git commit -m "
alias gp="git push"
